[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
requests = "*"
pandas = "*"
numpy = "*"
lxml = "*"
sqlalchemy = "*"
mysqldb = "*"
mysqlclient = {path = "C:/Users/Administrator/Downloads/mysqlclient-1.3.13-cp36-cp36m-win_amd64.whl"}
html5lib = "*"

[requires]
python_version = "3.6"
